@{
    Layout = "_LayoutBase";
}

<!-- Slider And Icons -->
    <div class="container-fluid">
        <section class="SliderAndIcones">
            <div class="SiteMap">
                <span>صفحه اصلی</span>
                <span>xxx</span>
            </div>
            <div class="TempBase">
                @RenderBody()
            </div>
        </section>
    </div>