@{
    Layout = "_LayoutBase";
}

<!-- Slider And Icons -->
    <div class="container-fluid">
        <section class="SliderAndIcones">
            <div class="TempBase">
                @RenderBody()
            </div>
        </section>
    </div>